.main {
       background-color: yellow;
       margin-left: 40px;
       margin-right: 40px;

}
h1  {
      color:black;
      font-family: "Kanit", serif;
      font-weight: 200;
      font-size: x-large;


}